<div class="formattingpartials">
  <h1><%= raw @success_message %></h1>
  <hr></hr><br>
  <p align="center"><strong>QUOTE</strong></p>
  <p>"<%= raw @object.quote %>"</p>
  <p align="right"><em>- <%= @object.person.person %></em><br></p>  
  <p><%= raw @add_keywords %></p>
</div>