<div class="about"><h1>About</h1><br>
<div class="aboutContainer"><p>"Daily Feminist Affirmation" started with a note I angrily typed into my phone one day after suffering major <a href="/keyword?keyword=feminist+fatigue">feminist fatigue</a>. For whatever reason, I'd been persistently pestered that day by negative images of women and feminism - whether more so than usual, or whether I was just more sensitve that day, I'm not sure - and I pictured an app that would remind me of how passionate, dedicated and impactful women can be, and that would serve as a sort of daily "pick-me-up" when I found myself sliding into the feminist-defender doldrums.</p>
<p>Welcome.</p>
<p align="right"><em>- Daily Feminist Affirmation</em></p></div></div>