<!DOCTYPE html>
<html>
  <head>
    <title>Daily Feminist Affirmation</title>
    <meta name="description" content="Everyone needs a little more feminism in their lives. "/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <div id="wrapper">

    <div id="header" link="#000000" vlink="#000000" alink="#000000">

      <h4 class="headerheading"><a href="/yay">DAILY FEMINIST AFFIRMATION</a></h4>
      <hr></hr>
    </div>

    <div main>
      <body class="standard" link="#000000" vlink="#000000" alink="#000000">
  
        <%= yield %>

      </body>
    </div>
  </div>

  <div id="footer"> 
    <hr>
    <h4 class="footerfooting"><a href="/login">LOGIN</a></h4>
  </div>

</html>